<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolf.nniroula.creditrecorder">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/accounting_book"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.wolf.nniroula.creditrecorder.view.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wolf.nniroula.creditrecorder.view.ToView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nniroula.millrecord.TOVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wolf.nniroula.creditrecorder.view.MyActivity"
            android:label="@string/app_name"
            android:theme="@style/FullTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.example.nniroula.millrecord.MYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wolf.nniroula.creditrecorder.view.IndView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.nniroula.millrecord.INDVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
